.page {
    width: 100%;
    min-height: 98vh;
    display: flex;
}
.block {
    width: 100%;
    display: flex;
    gap: 1%;
}
.mainblock {
    width: 100%;
    display: flex;
}
.instrumentpanel {
    width: 10%;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}
.notepadblock {
    width: 90%;
    display: flex;
}
.inputstyle {
    width: 100%;
    min-height: 99.5%;
    outline: none;
    resize: none;
    border: 1px solid black;
}
.instrumentpanelblock {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}
.textstyle {
    margin: 5px 0px;
}
.selectstyle {
    width: 100%;
    
}